work/
results/
data/

.nextflow/
.nextflow*

*.log
*.html
*.sam
*.bam
*.bai
*.bcf
*.vcf.gz
*.csi
*.fasta

trace.txt
report.html
timeline.html
dag.dot

*.bak
multiqc_data/
reference/
Miniconda3-latest-Linux-x86_64.sh
